ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.separator {
  height: 23px;
  width: 1px;
  border-left: 1px solid #e0e0e0;
  margin: 0 .5rem;
}

.items {
  //display: flex; flex-wrap: wrap; padding: .5rem
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .item {
    //width: calc(calc(100vw / 3) - .4rem);
    width: 100%;
    //height: calc(calc(100vw / 3) - .4rem);
    height: calc(100vw / 3);
    //position: relative;
    //
    //.checks {
    //  position: absolute;
    //  top: 0;
    //  right: 0;
    //  padding: .5rem;
    //  z-index: 50000;
    //}
    //
    //img {
    //  background-color: #e0e0e0;
    //  width: calc(calc(100vw / 2) - .5rem);
    //  height: calc(calc(100vw / 2) - .5rem);
    //  object-fit: contain;
    //}
  }
}


.full-pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: #000;

  .pic-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background: transparent;
    display: flex;
    align-items: stretch;
    .left, .center, .right {
      height: 100vh;
    }
    .center {
      flex-grow: 1;
    }
    .left, .right {
      width: 10vw;
    }
  }

  .pic-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    padding: .5rem;
    max-height: 51px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    ion-icon {
      color: #fff;
      font-size: 1.2rem;
    }
  }

  img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
  }

  image-cropper {
    width: 100%;
    height: calc(100vh - 51px);
  }
}
